In [1]:
import pandas as pd
import numpy as np

pd.set_option("mode.copy_on_write", True)

In [2]:
original = pd.read_csv("../100_data/102_processed/full_cleaned_df.csv")

In [3]:
original.head()

,Unnamed: 0,Tweet_Content,Labels,Cleaned_Tweets,Sentiment
0,0,If you ask me $NIO ET7 is on elf the best look...,POSITIVE,if you ask me nio et7 is on elf the best looki...,2
1,1,Here are the annual UK vehicle registration % ...,POSITIVE,here are the annual uk vehicle registration fo...,1
2,2,Robert Downey Jr. turns his classic cars into ...,NEUTRAL,robert downey jr turns his classic cars into e...,1
3,3,The development of Electric vehicles is becomi...,POSITIVE,the development of electric vehicles is becomi...,2
4,4,Happy Valentine's day! Today we share out love...,POSITIVE,happy valentines day today we share out love w...,2

In [7]:
original["Sentiment"] = original["Labels"].map(
    {"NEGATIVE": 0, "NEUTRAL": 1, "POSITIVE": 2}
)

In [8]:
original.head()

,Unnamed: 0,Tweet_Content,Labels,Cleaned_Tweets,Sentiment
0,0,If you ask me $NIO ET7 is on elf the best look...,POSITIVE,if you ask me nio et7 is on elf the best looki...,2.0
1,1,Here are the annual UK vehicle registration % ...,POSITIVE,here are the annual uk vehicle registration fo...,2.0
2,2,Robert Downey Jr. turns his classic cars into ...,NEUTRAL,robert downey jr turns his classic cars into e...,1.0
3,3,The development of Electric vehicles is becomi...,POSITIVE,the development of electric vehicles is becomi...,2.0
4,4,Happy Valentine's day! Today we share out love...,POSITIVE,happy valentines day today we share out love w...,2.0

In [10]:
original.columns

Index(['Unnamed: 0', 'Tweet_Content', 'Labels', 'Cleaned_Tweets', 'Sentiment'], dtype='object')

In [11]:
original.drop("Unnamed: 0", axis=1, inplace=True)

In [13]:
original.to_csv("../100_data/102_processed/full_cleaned_df.csv")